/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); */
@font-face {
    font-family: ArticulatCF;
    font-weight: 400;
    letter-spacing: 0;
    src: url("./ArticulatCF/ArticulatCF-Normal.otf") format("opentype");
  }
  @font-face {
    font-family: ArticulatCF;
    font-weight: 800;
    letter-spacing: 0;
    src: url("./ArticulatCF/ArticulatCF-Bold.otf") format("opentype");
  }
  
  :root {
    --fundo-marrom: #200901;
    --laranja-principal: #ea8938;
    --verde: #00d348;
    --cinza: #585859;
    --cinza2: #1a1a1a;
    --branco: #ffff;
    --verde-bandeira: rgba(0, 212, 55, 0.38);
  }
  /*-----------------------------------*/
  /*-----------------------------------*/
  /*-------------- GERAL --------------*/
  /*-----------------------------------*/
  /*-----------------------------------*/
  
  a {
    text-decoration: none;
    color: #fff;
  }
  body {
    background-color: #fff;
    font-family: "ArticulatCF", sans-serif !important;
    font-display: swap;
    font-weight: 700;
    height: 100vh;
    font-size: 14px;
    color: #6d6e73;
    overflow-x: hidden;
  }
  .container {
    max-width: 1000px;
  }
  
  .bt {
    border-radius: 12px;
    padding: 0.375rem 2.75rem;
    background-color: var(--laranja-principal);
    color: var(--branco);
    width: fit-content;
    text-align: center;
    transition: all 0.3s !important;
    cursor: pointer;
    border: 2px solid var(--laranja-principal);
    font-size: 20px;
    font-weight: 700;
  }
  .bt:hover {
    transform: scale(1.1);
  }
  
  
  .botao {
    background-color: var(--laranja-principal);
    color: var(--branco);
    font-weight: 300;
    line-height: 27px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 360px;
    border-radius: 8px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 17px rgba(53, 53, 53, 0.3);
    font-size: 15px;
    transition: 0.8s;
    margin-bottom: 40px;
  
  }
  
  .botao:hover {
    box-shadow: 0px 15px 50px var(--laranja-principal);
  }
  
  .botao:active,
  .botao:focus {
    background-color:  #ea8938;
  }
  
  /*-----------------------------------*/
  /*-----------------------------------*/
  /*--------------- TOPO --------------*/
  /*-----------------------------------*/
  /*-----------------------------------*/
  #topo {
    background-color: #fff;
    width: 100vw;
  }
  #topo .container {
    max-width: 1000px;
  }
  #topo .logo img {
    width: 50px;
  }
  
  /*-----------------------------------*/
  /*-----------------------------------*/
  /*--------------- HOME --------------*/
  /*-----------------------------------*/
  /*-----------------------------------*/
  #home {
    width: 100vw;
    height: 60vh;
    min-height: 510px;
    background-color: #161616;
    background-image: url(../img/mancha-home.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
  }
  #home .textos {
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
  }
  #home .destaque1 {
    font-size: 30px;
    line-height: 40px;
  }
  #home .destaque2 {
    font-size: 18px;
    line-height: 28px;
  }
  #home .verde,
  #home .textos span {
    color: var(--laranja-principal);
  }
  
  #home .formulario {
    display: none !important;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    background-color: #161616;
    /* box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #00dd87, 0 0 30px #00dd87,0 0 40px #00dd87, 0 0 50px #00dd87;
      -webkit-animation: blink 0.7s infinite alternate;
      animation: blink 0.7s infinite alternate; */
  }
  #home .formularioExtra {
    display: none !important;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    background-color: #161616;
  }
  #home .terceiro__form {
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    background-color: #161616;
  }
  #home .titulo__form {
    font-weight: 500;
    font-size: 20px;
    color: var(--branco);
  }
  #home .pos-ativa {
    border-bottom: solid 3px var(--laranja-principal) !important;
  }
  #home .formulario .bt {
    font-size: 14px;
  }
  #home input,
  #home select {
    border: 0px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  #home .formularioExtra {
    display: block;
  }
  #home .formularioExtra .pfv {
    font-size: 20px;
  }
  #home .formularioExtra .pfv span {
    font-size: 25px;
    font-weight: 900;
    color: var(--laranja-principal);
  }
  #home .continuar,
  #home #enviar {
    font-size: 14px;
  }
  
  /* criado para segunda pagina */
  #etapa2,
  #etapa3 {
    display: none;
  }
  .box-content {
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #161616;
  }
  .meiocard {
    width: 49%;
  }
  
  #home .formulario .bt {
    width: auto;
    margin: 0;
  }
  .form-control {
    border-radius: 12px !important;
  }
 
  
  
  /*----------------------------------------------*/
  /*----------------------------------------------*/
  /*-------------- ADAPTAÃ‡ÃƒO MOBILE --------------*/
  /*----------------------------------------------*/
  /*----------------------------------------------*/
  @media screen and (max-width: 767px) {
    video {
      max-width: 100% !important;
      margin: 20px 0px;
    }
    .bt {
      font-size: 12px;
    }
  
    /*-------------- HOME --------------*/
    #home {
      width: 100vw;
      height: auto;
      padding: 50px 0px;
      text-align: center;
      background-image: none;
    }
    #home .textos {
      font-size: 30px;
      line-height: 30px;
      font-weight: 900;
    }
    #home .formulario {
      margin-top: 20px;
      padding: 15px;
    }
    #home input,
    #home select {
      margin-bottom: 15px;
    }
  
    #logos-carrossel .itemcarrossel {
      padding: 20px 0px;
    }
    #logos-carrossel .itemcarrossel img {
      display: block;
      margin: auto;
      width: 80px !important;
    }
  
    
  /* criado para segunda pagina */
  #home .titulo__form{
    font-size: 14px;
  }
  #home .box-content{
    width: 80% !important;
    margin-left: 10% !important;
  }
  .ordem{
    flex-direction: column;
  }
  .meiocard{
    width: 100%;
  }
    
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
  }
  
  .form-group .control-label,
  .form-group > label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .custom-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
  }
  .custom-switch-description {
    font-size: 10px;
    margin-left: 10px;
    line-height: 14px;
  }
  .custom-switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-switch-input:checked ~ .custom-switch-indicator {
    background: var(--laranja-principal);
  }
  .custom-switch-indicator {
    display: inline-block;
    height: 1.25rem;
    width: 37px;
    background: #e9ecef;
    border-radius: 50px;
    position: relative;
    vertical-align: bottom;
    border: 1px solid rgba(0, 40, 100, 0.12);
    transition: 0.3s border-color, 0.3s background-color;
  }
  .custom-switch-indicator:before {
    content: "";
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s left;
  }
  .custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px);
  }
  
  @-webkit-keyframes blink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #00dd87,
        0 0 70px #00dd87, 0 0 80px #00dd87;
    }
  }
  
  @keyframes blink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #00dd87,
        0 0 70px #00dd87, 0 0 80px #00dd87;
    }
  }
  
  @media screen and (max-width: 425px) {
    .botao:hover {
      box-shadow: 0;
    }
  }